html,body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}


.panels{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.panel{
    height: 100%;
    flex:1;
    transition: flex 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;

    align-items: center;
   
}
.panel:hover{
    flex:4
}

.panel>.titreJeu:hover{
    opacity: 100%;
}

.apex{
    background-image: url("../img/apex.jpg");
}

.cod{
    background-image: url("../img/cod.jpg");
  

}
.mario{
    background-image: url("../img/mario-kart-7-img-4.jpg");

}

.minecraft{
    background-image: url("../img/minecraft.jfif");

}

.titreJeu{
    color: white;
    font-size: 6em;
    font-family: 'Roboto';
    opacity: 0%;
    transition: opacity 1s;
    font-style: inherit;
}
.card{
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
    flex-flow: column;
    display: flex;
    align-items: center;
    background-color: rgb(49, 49, 49);
    justify-content: space-around;
    color: rgb(255, 255, 255);
}

.container-fluid{
    position: fixed;  
    z-index: 1;
    background-color: rgb(70, 70, 70);
    color:rgb(255, 255, 255);
    display: flex;
    top: 0px;  
    left:0px;  
    height: 60px;  
    width: 35%;  
}